# for maven
**/target/

# for gradle
.gradle/
build/
**/bin/**

# for java/groovy
*.class

# for idea
*.ipr
*.iml
*.iws

pdf-as-tests/src/test/test-suites/*
pdf-as-tests/src/test/test-suites/*/
!pdf-as-tests/src/test/test-suites/public/
pdf-as-tests/src/test/test-suites/**/index.html
pdf-as-tests/src/test/test-suites/**/test_result.html
pdf-as-tests/src/test/test-suites/**/out

# for eclipse
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

# CDT-specific
.cproject

# PDT-specific
.buildpath
/bin/
